<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Time!</title>
</head>
<body>

	<br> And trying to do a loop:
	<br>
	<% for(i = 0; i < time.length; i++){  %>
		Thing!:
		<%= time[i].time  %>
		<br>
	<% };  %>
<button id="makeATime"> NOW! </button>
</body>
</html>